.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  // text-align: center;
}

.navbarTheme {
  background-color: rgba(71, 71, 71, 0.65);
  box-shadow: 1px 1px 20px rgba(78, 78, 78, 0.692);
}

.formTheme {
  // background-color: rgba(65, 65, 65, 0.562);
  border-radius: 3px;
  box-shadow: 10px 7px 20px rgba(83, 83, 83, 0.534);
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url('https://www.what-franchise.com/images/uploads/companies/HeadcaseBarbersBanner.jpg');
  background-size: cover;
  background-repeat: no-repeat;  
}

.blank {
  background-color: rgb(68, 68, 68);
  height: 100vh;
  width: 100vw;
}

.blank-index {
  background-color: rgb(68, 68, 68);
  height: auto;
  width: 100vw;
}

.cards {
  width: 300px;
  height: 350px;
  margin-top: 30px;
}

.open-card {
  background-color: rgb(226, 222, 211);
  margin: 20px 20px 0 20px;
  width: 300px;
  height: 310px;
  border-radius: 0 20px 0 0;
}

.card-theme {
  background-color: rgb(226, 222, 211);
  margin: 20px 20px 0 20px;
  width: 300px;
  border-radius: 20px 0 20px 0;
}

.card-image {
  width: 300px;
  height: 310px;
  object-fit: cover;
  border-radius: 0 0 20px 0;
}

.card-button {
  display: flex;
  width: 300px;
  background-color: rgba(45, 20, 77, 0.904);
  color: white;
  border-radius: 0 0 0 20px;
}

.ser-list {
  font-size: 18px;
}

.show-images {
  width: 400px;
  height: 420px;
  border-radius: 10px;
  
}

.name {
  margin-bottom: 0px;
  font-size: 20px;
  padding: 5px;
}


.home {
  display: flex;
  flex-direction: column;
  align-items: center;
    .home-logo {
     margin-top: 100px;
     -webkit-filter: drop-shadow(10px 10px 10px rgb(2, 2, 2));
    filter:drop-shadow(10px 10px 10px rgb(7, 7, 7)); 
    }
}

.logo-nav {
  margin-left: 10px;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(75, 75, 75));
    filter:drop-shadow(5px 5px 5px rgb(37, 37, 37));
}

.navbar-font {
  color: rgb(224, 224, 224);
  font-size: 18px;
}

