.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  // text-align: center;
}

.navbarTheme {
  background-color: rgba(71, 71, 71, 0.65);
  box-shadow: 1px 1px 20px rgba(78, 78, 78, 0.692);
}

.formTheme {
  // background-color: rgba(65, 65, 65, 0.562);
  border-radius: 3px;
  box-shadow: 10px 7px 20px rgba(83, 83, 83, 0.534);
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url('https://www.what-franchise.com/images/uploads/companies/HeadcaseBarbersBanner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

.blank {
  background-color: rgb(68, 68, 68);
  height: 100vh;
  width: 100vw;
}

.blank-index {
  background-color: rgb(68, 68, 68);
  height: auto;
  width: 100vw;
}

.blank-show {
  background-color: rgb(68, 68, 68);
  height: auto;
  width: 100vw;
  margin-top: 350px;
}

.high-show {
  margin-top: -810px;
  padding-top: 500px;
  padding-bottom: 0;
  // background-color: rgba(27, 27, 27, 0.082);
}

.show-gap {
  height: 350px;
  background-color: rgba(10, 10, 10, 0.507);
  margin-top: -398px;
  width: 100vw;
}

.cards {
  width: 300px;
  height: 350px;
  margin-top: 30px;
}

.open-card {
  background-color: rgb(226, 222, 211);
  margin: 20px 20px 0 20px;
  width: 300px;
  height: 310px;
  border-radius: 0 20px 0 0;
}

.card-theme {
  background-color: rgb(226, 222, 211);
  margin: 20px 20px 0 20px;
  width: 300px;
  border-radius: 20px 0 20px 0;
}

.card-image {
  width: 300px;
  height: 310px;
  object-fit: cover;
  border-radius: 0 0 20px 0;
}

.card-button {
  display: flex;
  width: 300px;
  background-color: rgba(45, 20, 77, 0.904);
  color: white;
  border-radius: 0 0 0 20px;
  font-weight: 700;
}

.card-show {
  margin: 20px 10px;
  background-color: rgb(226, 222, 211);
  border-radius: 20px 0;
  color: rgb(42, 42, 42);
  font-size: 20px;
  padding: 30px;
  
  .service {
    padding: 5px 5px 5px 50px;
    font-weight: 500;
  }

  .price {
    margin-left: 160px;
    padding: 5px;
    font-weight: 800;
  }
}

.ser-list {
  font-size: 18px;
}

.show-images {
  width: 400px;
  height: 400px;
  border-radius: 50% 100%;
  object-fit: cover;
  margin-bottom: 20px;
  border: solid 5px rgb(226, 222, 211); 
}

.name {
  margin-bottom: 0px;
  font-size: 20px;
  padding: 5px;
  font-weight: 600;
}


.home {
  display: flex;
  flex-direction: column;
  align-items: center;
    .home-logo {
     margin-top: 100px;
     -webkit-filter: drop-shadow(10px 10px 10px rgb(2, 2, 2));
    filter:drop-shadow(10px 10px 10px rgb(7, 7, 7)); 
    }
}

.logo-nav {
  margin-left: 10px;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(75, 75, 75));
    filter:drop-shadow(5px 5px 5px rgb(37, 37, 37));
}

.navbar-font {
  color: rgb(224, 224, 224);
  font-size: 18px;
}

.show-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .image-gallery {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
}

.gallery {
  align-self: flex-start;
  justify-content: center;
  width: 100%;
}

.info-show {
  width: 90vw;
  padding-bottom: 100px;
}

.show-font {
  color: rgb(226, 222, 211);
  font-size: 25px;
  text-shadow: 8px 10px 10px rgba(34, 34, 34, 0.377);
}

.show-titles {
  color: rgb(223, 223, 223);
  text-align: center;
}

.show-button {
  // align-self: flex-start;
  margin: 50px 0;
  background-color: rgb(246, 198, 66);
  border: 1px solid black;
  font-weight: 600; 
  font-size: 16px;

}

.show-head {
  margin-bottom: 100px;
}

hr { 
  display: block; height: 1px;
  border: 0; border-top: 7px solid rgb(82, 82, 82);
  margin: 1em 0; padding: 0; 
}

.card-list {
  margin-top: 20px;
  
  .ser-card {
    width: 300px;
  }

  .card-ser {
    margin: 0;
    padding: 0 0 5px 5px;
    font-weight: 500;
  }
  .card-price {
    margin: 0;
    padding: 0 0 5px 80px;
    font-weight: 800;
  } 
}

.with-shadow {
  box-shadow: 8px 10px 10px rgba(34, 34, 34, 0.582);
}

.email-section {
 text-align: start;
}


